<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><h4>主页</h4></a>
        </div>

        <ul class="nav nav-pills">
            <li role="presentation"><a href="/inspiration/1"><h4>灵感</h4></a></li>
            <li role="presentation"><a href="/material/1"><h4>素材</h4></a></li>
            <li role="presentation"><a href="/photography/1"><h4>摄影</h4></a></li>
            <li role="presentation"><a href="/girls/1"><h4>妹子</h4></a></li>
        </ul>
    </div>
</nav>